@import url('https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap');

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	font-family: 'Jost', sans-serif;
}

.navbar{
	background: #696e6e;
	width: 100%;
	height: 60px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 50px;
}

.navbar .logo a{
	display: block;
	text-decoration: none;
	color: #fff;
	font-weight: 700;
	letter-spacing: 2px;
	font-size: 25px;
	text-transform: uppercase;
}

.navbar .nav_right > ul{
	display: flex;
	align-items: center;
}

.navbar .nav_right ul li.nr_li{
	margin-left: 25px;
	cursor: pointer;
	color: #fff;
	font-size: 20px;
	position: relative;
}

.navbar .nav_right ul li.nr_li:hover {
    color: #cefffc;
}

.navbar .nav_right ul li img{
	width: 35px;
	vertical-align: middle;
}

.navbar .dd_menu {
    position: absolute;
    right: -25px;
    top: 47px;
    display: flex;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 3px rgba(0,0,0,0.25);
    display: none;
}

.navbar .dd_menu .dd_left{
	background: #74ded8;
	padding: 15px 20px;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

.navbar .dd_menu .dd_left li{
	color: #fff;
}

.navbar .dd_menu .dd_right{
	padding: 15px 20px;
}

.navbar .dd_menu li{
	margin-bottom: 1px;
	color: #868686;
}

.navbar .dd_menu:before{
	content: "";
	position: absolute;
	top: -20px;
	right: 30px;
	border: 10px solid;
	border-color: transparent transparent #fff transparent;
}

.navbar .dd_main.active .dd_menu{
	display: flex;


}


.btn {
            display: flex;
            margin-top: 1px;

        }

button {
	background-color: #4CAF50;
	border: none;
	color: white;
	padding: 9px 22px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
        }

/* button:hover {
            background: blue;
            color: yellow;
        } */

 h1 {
            display: flex;
            justify-content: center;
            align-items: center;

        }
.navbar_btn
{
	background: #4ef282;
	width: 100%;

	height: 50px;

	border-style: ridge;


}
.File-choose {
		padding-top: 30px;
		padding-left: 90px;

}
.btn{

	padding-top: 3px;
	padding-left: 90px;
}
.container{
	float:left;
	width: 500px;
	height:530px;
	justify-items: center;
	background-color:rgb(248, 244, 244);
	border:solid black;
	align-items: center;

}


.main_container

	{

		width:100%;
            height:900px;
            background-color:rgb(242, 247, 242);
            padding-top:2px;
            padding-left:15px;
            padding-right:15px;
	}
.view{
	padding-top:  10px;
	padding-bottom: 60px;
}

.img{
	margin-top: 15px;
	width: 408px;

	margin-left: 6px;


}

.container2
{
	float:left;
	width:760px;
	height:530px;
	margin-left: 50px;
	background-color:rgb(248, 244, 244);
	border:solid black;
	display: grid;
	grid-template-rows:  50px   1fr   1fr ;
	grid-template-columns : 1fr   1fr   1fr ;


	row-gap: 12px;
	column-gap : 12px;

}

.item
{


	background-color: rgb(255, 255, 255);
	/* width: 123px;
	height: 123px; */
}

.item1
{
	/* grid-column-start: 1 ;
	grid-column-end: 4 ;  */
	 grid-column: 1 / span 3;
	background-color: #4ef282;
	border-style: ridge;
	color: black;
	width: 100%;
}
.item2 {
	padding-left:12px ;
	width: 223px;
	height: 203px;
}

.save_btn{

	padding-top: 45px;
	margin-left: 45px;


}
